@model LivrariaSouza.Models.Models.FinalizarCompra

@{
    ViewData["Title"] = "Finalizar Compra";
}

<h2>Finalizar Compra</h2>

<form asp-action="Finalizar" method="post">
    <div class="form-group">
        <label asp-for="Nome" class="control-label">Nome completo</label>
        <input asp-for="Nome" class="form-control" />
        <span asp-validation-for="Nome" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Endereco" class="control-label">Endereço</label>
        <input asp-for="Endereco" class="form-control" />
        <span asp-validation-for="Endereco" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="CEP" class="control-label">CEP</label>
        <input asp-for="CEP" class="form-control" />
        <span asp-validation-for="CEP" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="FormaPagamento" class="control-label">Forma de pagamento</label>
        <select asp-for="FormaPagamento" class="form-control">
            <option value="">Selecione uma opção</option>
            <option value="PIX">PIX</option>
            <option value="Cartão">Cartão</option>
            <option value="Boleto">Boleto</option>
        </select>
        <span asp-validation-for="FormaPagamento" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Finalizar</button>
</form>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
